<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/NASA.ico" type="image/x-icon">
    <link rel="stylesheet" href="../template/style.css">
    <link rel="stylesheet" href="../template/blackHole.css">
    <title>NasaAPi-Log</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <!-- style de police -->
    <link href="https://fonts.bunny.net/css?family=zen-kurenaido:400" rel="stylesheet" />
    <link href="https://fonts.bunny.net/css?family=aboreto:400" rel="stylesheet" />
    <link href="https://fonts.bunny.net/css?family=aref-ruqaa-ink:400" rel="stylesheet" />
    <link href="https://fonts.bunny.net/css?family=aldrich:400" rel="stylesheet" />
    <link href="https://fonts.bunny.net/css?family=biorhyme:700" rel="stylesheet" />
</head>

<body>
    

<section id="Home">
    
    <img id="nasaLogo" src="../image/nasa-color.svg" alt="logo">

    <nav id="navbar_Home">
        <div id="hiddenNavbar" class="hiddenNavbar">
            <div  id="navbar_toggle">
            <h1 id="home_Title">NasaAPI-Log</h1>
                <ul id="navbar_List_Home">
                    <span class="home_List_Container"><img id="house_home_picture" src="../image/house.svg"><li class="list_Home"><a class="link_home" href="../home/index.php">Home</a></li></span>
                    <span class="home_List_Container"><img id="house_home_picture" src="../image/images.svg" alt=""><li class="list_Home"><a href="../picture/index.php" class="link_home">Picture of the Day</a></li></span>
                    <span class="home_List_Container"><img id="house_home_picture" src="../image/globe-asia-australia.svg"><li class="list_Home"><a class="link_home" href="../planet/index.php">Planet</a></li></span>
                </ul>
            </div>
        </div>

        <div id="logIn">
            <a href="../Log/index.php" id="logLinks">Sign In</a>
        </div>

        <button class="toggle-button" id="button" onclick="navbar()">
          <img src="../image/list.svg" alt="">
        </button>
            
        <div id="blackHole_Button" class="blackHole_Button hidden_blackHole_Button">
            <button id="blackHole">
                <img id="toggle_off" class="toggleOFF_entrance" src="../image/toggle/toggle-off.svg" alt="">
                <img id="toggle_on" class="hiddenToggle" src="../image/toggle/toggle-on.svg" alt="">
            </button>
        </div>
    </nav>
</section>


<script src="../JS/screen.js"></script>

</body>

</html>

