<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/NASA.ico" type="image/x-icon">
    <link rel="stylesheet" href="../template/style.css">
    <title>NasaAPi-Log</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <!-- style de police -->
    <link href="https://fonts.bunny.net/css?family=zen-kurenaido:400" rel="stylesheet" />
    <link href="https://fonts.bunny.net/css?family=aboreto:400" rel="stylesheet" />
    <link href="https://fonts.bunny.net/css?family=aref-ruqaa-ink:400" rel="stylesheet" />
</head>

<section id="Home">
    
    <img id="nasaLogo" src="../image/nasa-color.svg" alt="logo">
    <h1 id="home_Title">NasaAPI-Log</h1>

    <nav id="navbar_Home">
        <ul id="navbar_List_Home">
            <span class="home_List_Container"><img id="house_home_picture" src="../image/house.svg"><li class="list_Home"><a class="link_home" href="">Home</a></li></span>
            <span class="home_List_Container"><img id="house_home_picture" src="../image/globe-asia-australia.svg"><li class="list_Home"><a class="link_home" href="">Mars</a></li></span>
        </ul>
    </nav>
</section>

