#wrapper {
    margin-left: 13%;
    background-image: url("../image/univers2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Planete */
.planet_img {
    width: 50%;
    transform: rotate(15deg);
}

.planet_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.planet_anim{
    animation: myAnim 1.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hidden{
    display: none;
}

/* Info */

.Planet {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.title_Planet {
    color: white;
    text-align: end;
    font-family: 'Aboreto', display;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.title_for_info {
    color: white;
    text-align: end;
    font-family: 'Aldrich', sans-serif;
    font-size: 1.5rem;
}

.info_of_Planete {
    color: white;
    text-align: end;
    font-family: 'BioRhyme', serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.text_info {
    color: white;
    margin: 1rem 9rem 0rem 9rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Aref Ruqaa Ink', serif;
    margin-bottom: 2rem;
}

/* arrow */ 

#buttonMinus,
#buttonPlus{
    margin: 1rem;
}

#buttonMinus:hover,
#buttonPlus:hover{
    transform: scale(1.5);
    transition: 0.3s;
}

/* media query */

@media(max-width : 768px){
    #wrapper{
        margin: 0;
        height: auto;
    }

    .Planet{
        padding-top: 2rem;
        margin-bottom: 8rem;
    }

    .info{
        align-items: center;
    }

    .planet_img {
        width: 72%;
    }

    .title_Planet{
        font-size: 3rem;
    }

    .title_for_info{
        font-size: 1rem;
    }

    .info_of_Planete{
        font-size: 1.5rem;
        text-align: center;
    }

    .text_info {
        margin: 0;
        font-size: 1.2rem;
        background-color: rgba(209, 205, 205, 0.555);
        padding: 1rem;
        border-radius: 1rem;
        text-shadow: rgb(0, 0, 0) 1px 0 10px;
    }

    .planet_info{
        display: flex;
        flex-direction: column;
    }

    /* position des bouttons */

    #buttonMinus,
    #buttonPlus{
        position: sticky;
        top: 22rem;
    }

}

@media (min-width:769px) and (max-width: 1310px){
    #wrapper{
        margin: 0;
    }

    .text_info {
        margin: 0;
        font-size: 1.2rem;
    }

    .planet_img {
        width: 40%;
    }

    .title_for_info {
        font-size: 1rem;
    }

    .info_of_Planete {
        font-size: 1.5rem;
    }


}

@media(min-width: 1850px){
    #wrapper{
        height: auto;
    }

    .text_info{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .planet_img{
        width: 35%;
    }

    body{
        height: 100vh;
    }
}