#wrapper {
    margin-left: 13%;
    background-image: url("../image/univers2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Planete */
.planet_img {
    width: 50%;
    transform: rotate(15deg);
}

.planet_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.planet_anim{
    animation: myAnim 1.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hidden{
    display: none;
}

/* Info */

.Planet {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.title_Planet {
    color: white;
    text-align: end;
    font-family: 'Aboreto', display;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.title_for_info {
    color: white;
    text-align: end;
    font-family: 'Aldrich', sans-serif;
    font-size: 1.5rem;
}

.info_of_Planete {
    color: white;
    text-align: end;
    font-family: 'BioRhyme', serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.text_info {
    color: white;
    margin: 1rem 9rem 0rem 9rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Aref Ruqaa Ink', serif;
}

/* arrow */ 

#buttonMinus,
#buttonPlus{
    margin: 1rem;
}

#buttonMinus:hover,
#buttonPlus:hover{
    transform: scale(1.5);
    transition: 0.3s;
}

